.nav {
	width: 50%;
	font-weight: bold;
	background-color: #980505;
	font-family:sans-serif;
}
	
	.nav__items {
		
		display: flex;
		min-height: 50px;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		list-style-type: none;
		padding-left: 0;
	}

	.nav__link {
		text-decoration: none; 
		color:#f4fdae;
	}

	.nav__link:hover {
		color:#f5ea58;
		border-bottom: 2px solid #f5ea58;
	}